<div class="row">
  <a href="{{url}}">
    <img src="{{img}}" alt="{{name}}">
  </a>
  <div>
    <h3>{{name}}</h3>
    <a href="{{url}}" title="{{name}}">{{url}}</a>
    <p>{{description}}</p>
  </div>
</div>